// Mixin para centrar en flex //
centrar-flex()
    display flex
    justify-content center
    align-items center

// Mixin para las transiciones //
transition-prop(property)
    transition property transition-time, easing