// Variables para la animacion //
main-bg = #fff
transition-time = 1s
easing = ease-in

// Variables Globales //

paletaColores = {
    blanco:{
        fondo: #f9f9fb
        texto: #222
        primario: #6c63ff
        secundario: #ff5f9A
        acento: #ffd800
    }
}